<div id="top-navigation" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse"
         data-target=".nav-collapse">
        <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </a>
      <a class="brand page-link-index" href="#">RuuviTracker</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="page-link-map"><a href="#map">Map</a></li>
          <li class="page-link-trackers"><a href="#trackers">Trackers</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="page-link-help"><a href="#help">Help</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
